.tabs {
  position: relative;
  margin-top: 50px;

  div {
    font-size: 18px !important;
    > a {
      &:last-of-type {
        position: absolute !important;
        right: 0;
      }
      &:nth-last-of-type(2) {
        position: absolute !important;
        right: 46px;
      }
      > i {
        font-size: x-large;
        padding-left: 0 50px;
      }
    }
  }
}

.containerForms {
  display: flex;
  margin: 0 -10px;
  margin-top: 50px;
}

.tabs {
  margin-top: 20px;
}

.containerForms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.settingsSection {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
   background-color: (var --background-secondary) ;
}

.settingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}