@import "~/src/scss/index.scss";

.userCard {
  background-color: $background-quaternary;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure all content is covered */
  transition: transform 0.5s ease;
  cursor: pointer;
  height: 300px; /* Set a fixed height for the card */
  width: 280px; /* Set a fixed height for the card */
  position: relative; /* Ensure absolute positioning of front and back sides */

  &:hover {
    transform: translateY(-5px); /* Add a hover effect */
  }

  .header {
    margin-bottom: 8px;

    h2 {
      font-size: 1.6rem; // Larger size
      font-weight: bold; // Bold
      margin: 0;
      color: $text-primary;
    }

    h4 {
      font-size: 1.2rem;
      margin: 0;
      color: $text-primary;
    }
  }

  .info {
    max-width: fit-content;
    .field {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .label {
        font-weight: bold;
        max-width: calc(100% - 30%);
        min-width: 80px;
        margin-right: 10px;
        color: $text-secondary;
        cursor: pointer;
        user-select: all;
      }

      .value {
        color: $text-primary;
        max-width: calc(100% - 50%);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .switchWrapper {
      display: flex;
      align-items: center;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 40px; // Adjust width of the switch
      height: 20px; // Adjust height of the switch
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc; // Default background color
      transition: .4s;
      border-radius: 20px; // Round slider
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 16px; // Adjust size of slider button
      width: 16px; // Adjust size of slider button
      left: 2px; 
      bottom: 2px; 
      background-color: white;
      transition: .4s;
      border-radius: 50%; // Round slider button
    }

    input:checked + .slider {
      background-color: $primary;
    }

    input:checked + .slider:before {
      transform: translateX(20px);
    }

    .orders {
      display: flex;
      flex-direction: column;
    }

    .order {
      margin-bottom: 5px;
    }
  }

  .falseBadge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    background-color: #eb3c1e; // Tomato color for blocked users
    margin-top: 10px;
  }
  
  .trueBadge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    background-color: #32cd32; // Lime green color for not blocked users
    margin-top: 10px;
  }
  

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    padding: 20px;
    height: 100%;
  }

  .back {
    transform: rotateY(180deg);
    display: none;
  }

  &.flipped {
    .front {
      transform: rotateY(-180deg);
      display: none;
    }

    .back {
      transform: rotateY(0deg);
      display: flex;
    }
  }

  .frontFlip {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .backFlip {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .checkIcon {
    color: $success;
    margin-right: 15px;
  }

  .adminBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: darken($primary, 10%);
    color: $text-primary;
    text-align: center;
    padding: 10px ;
    border-radius: 0px 0px 8px 8px ;
    -webkit-border-radius: 0px 0px 8px 8px ;
    -moz-border-radius: 0px 0px 8px 8px ;
    -ms-border-radius: 0px 0px 8px 8px ;
    -o-border-radius: 0px 0px 8px 8px ;
}
  .actions {
    top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
    .flipButton {
      width: 30px;
      height:  30px;
      cursor: pointer;
      color: black;
      background-color: darken($primary, 10%);
      border: none;
      padding: 5px;
      margin: 0;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
}
  }
}
