@import '@/scss/index.scss';

.logoTitle {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background-color: $primary;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  
  &:hover {
    box-shadow: 0 0 15px #fff200, 0 4px 20px rgba(0, 0, 0, 0.9);
    transform: translateY(-2px);
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  .imageWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  img {
    filter: brightness(1) invert(1);
    height: auto;
    max-height: 40px;
    object-fit: contain;
  }
}