@import "~/src/scss/index.scss";

.gameItem {
  background-color: $background-quaternary;
  width: 250px;
  height: 260px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    align-self: center;
  }

  .addressInfo {
    color: $text-secondary;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .actions {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      padding: 10px !important;
      margin-left: 10px !important;
    }
  }
}

.basket {
  > h2 {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.block {
  background-color: $background-quaternary;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-secondary;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .productTitle {
    margin: 10px 0 !important;
    font-weight: bold;
    font-size: 18px;
    color: $text-primary;
    padding-top: 10px;
    word-wrap: break-word !important;
  }

  .originalPrice {
    padding-top: 10px !important;
    margin: 10px !important;
    font-size: 14px;
    text-decoration: line-through;
    color: red;
    margin-left: -18px;

    > i {
      font-size: 12px;
      color: red;
    }
  }

  .discount {
    margin: 0 10px;
    color: $primary;
    font-weight: bold;
    font-size: 14px;
  }

  .price {
    font-size: 18px;
    margin-top: 5px;
    align-self: center;
    flex-direction: column;
    // padding: 20px;
  }

  > img {
    width: 190px;
    border-radius: 8px;
    margin-right: 20px;
  }

  .platform {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;


    .iconWrapper {
      position: relative;

      img {
        height: 16px;
      }
    }
  }
}
